mixin social()
	section.social
		.social__title Вы можете присоединится с помощью профиля социальное сети:
		.social-btn
			a(href="#" title="").social-btn__item.social-btn__item--vk
			a(href="#" title="").social-btn__item.social-btn__item--ok
			a(href="#" title="").social-btn__item.social-btn__item--fb
			a(href="#" title="").social-btn__item.social-btn__item--tw
			a(href="#" title="").social-btn__item.social-btn__item--gp
			a(href="#" title="").social-btn__item.social-btn__item--mr
