mixin header()
	.wrapper
		header.header
			a(href="#" title="").header__logo
			.header__users
				strong 25 340
				span участников
			.header__login
				a(href="#" title="") Войти
				a(href="#" title="") Регистрация
